<div class="row">
    <ul>
        <li>
            <a href="{{ path('newpage') }}">
                {{ 'ADD_NEW_RECORD'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('export') }}">
                {{ 'EXPORT_DATA'|trans }}
            </a>
        </li>
    </ul>
</div>